In [19]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer
import warnings
warnings.filterwarnings("ignore")

In [2]:
data=pd.read_csv("main_data.csv")

In [3]:
data.head(2)

,Unnamed: 0,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,0.0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,1.0,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...

In [4]:
data.drop(columns=["Unnamed: 0","comb"],inplace=True)

In [6]:
for index,row in data.iterrows():
    row["director_name"]=row["director_name"].replace(" ","")
    row["actor_1_name"]=row["actor_1_name"].replace(" ","")
    row["actor_2_name"]=row["actor_2_name"].replace(" ","")
    row["actor_3_name"]=row["actor_3_name"].replace(" ","")

In [7]:
data.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,JamesCameron,CCHPounder,JoelDavidMoore,WesStudi,Action Adventure Fantasy Sci-Fi,avatar
1,GoreVerbinski,JohnnyDepp,OrlandoBloom,JackDavenport,Action Adventure Fantasy,pirates of the caribbean: at world's end
2,SamMendes,ChristophWaltz,RoryKinnear,StephanieSigman,Action Adventure Thriller,spectre
3,ChristopherNolan,TomHardy,ChristianBale,JosephGordon-Levitt,Action Thriller,the dark knight rises
4,DougWalker,DougWalker,RobWalker,unknown,Documentary,star wars: episode vii - the force awakens ...

In [8]:
data.set_index("movie_title",inplace=True)

In [10]:
data["comb"]=data["actor_1_name"]+" "+data["actor_2_name"]+" "+data["actor_3_name"]+" "+\
                   data["director_name"]+" "+data["genres"]

In [23]:
data=data[["comb"]]
# lowercasing all the words
data["comb"]=data["comb"].str.lower()
data.head(3)

                                                                                       comb
movie_title
avatar                                    cchpounder joeldavidmoore wesstudi jamescamero...
pirates of the caribbean: at world's end  johnnydepp orlandobloom jackdavenport goreverb...
spectre                                   christophwaltz rorykinnear stephaniesigman sam...

In [22]:
# creating index for movie title
indices=pd.Series(data.index)
indices[1:4]

1    pirates of the caribbean: at world's end
2                                     spectre
3                       the dark knight rises
Name: movie_title, dtype: object

In [26]:
# instantiating and generating count matrix
count=CountVectorizer()
count_matrix=count.fit_transform(data["comb"])
cosine_sim=cosine_similarity(count_matrix,count_matrix)
cosine_sim.shape

(6118, 6118)

In [33]:
def recom(title,cosine_sim=cosine_sim):
    recom_list=[]
    idx=indices[indices==title].index[0]
    score=pd.Series(cosine_sim[idx]).sort_values(ascending=False)
    top_10=score.iloc[1:11].index
    for i in top_10:
        recom_list.append(list((data.index))[i])
    return recom_list

In [34]:
recom("avatar")

['aliens',
 'deep rising',
 'highlander: endgame',
 'the league of extraordinary gentlemen',
 'star wars: episode vi - return of the jedi',
 'man of steel',
 'the amazing spider-man 2',
 'mystery men',
 'star wars: episode i - the phantom menace',
 'star wars: episode ii - attack of the clones']